.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.skills-grid div {
  background-color: #1f2833;
  padding: 0.8rem 1rem;
  border-left: 4px solid #45a29e;
  border-radius: 5px;
  font-size: 0.95rem;
}

@media (min-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.personal-details-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.personal-details {
  background-color: #1f2833;
  padding: 1rem 2rem;
  border-radius: 8px;
  border-left: 4px solid #45a29e;
  box-shadow: 0 0 10px rgba(69, 162, 158, 0.3);
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.personal-details p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  text-align: left;
}

.personal-details strong {
  color: #66fcf1;
  width: 150px;
  display: inline-block;
}

.personal-details i {
  margin-right: 6px;
  color: #66fcf1;
}





